.header {
  position: relative;
  display: flex;

  @include breakpoint(desktop-below) {
    justify-content: space-between;
  }

  @include breakpoint(desktop-above) {
    background: whitesmoke;
  }

  .mob-menu {
    align-self: flex-end;
    padding-right: 0;

    @include breakpoint(desktop-above) {
      display: none;
    }
  }

  .navigation {
    z-index: 1;

    @include breakpoint(desktop-above) {
      flex-grow: 1;
      flex-basis: 80%;
    }

    @include breakpoint(desktop-below) {
      height: 100vh;
      width: 100vw;
      display: flex;
      position: fixed;
      top: 0;
      right: 0%;
      transition: right 0.3s cubic-bezier(0.11, 0.52, 0.57, 1.02);
    }

    &.hideMobMenu {
      @include breakpoint(desktop-below) {
        right: -100%;
      }
    }

    .nav-menu {
      display: flex;
      flex-direction: row;

      @include breakpoint(desktop-above) {
        justify-content: space-between;
      }

      @include breakpoint(desktop-below) {
        background: whitesmoke;
        flex-direction: column;
        flex-grow: 1;
      }
    }

    .cross-menu {
      align-self: flex-start;
      padding: 15px;
      // background: antiquewhite;
      position: relative;

      &:focus {
        outline: none;
      }

      @include breakpoint(desktop-above) {
        display: none;
      }

      &::after {
        content: '';
        height: 100vh;
        position: absolute;
        width: 100%;
        background: transparent;
        top: 50px;
        left: 0;
      }
    }
  }

  .nav-bar {
    display: flex;
    list-style: none;

    @include breakpoint(desktop-below) {
      flex-direction: column;
    }

    li {
      a {
        padding: 15px;
        display: inline-block;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .login-nav {
    @include breakpoint(desktop-below) {
      border-top: 1px solid;
      margin-top: 30px;
    }
  }
}

.app-logo {
  display: flex;
  align-items: center;
  height: 54px;
  // border: 1px solid;
  flex-basis: 40%;
  overflow: hidden;

  a {
    height: 100%;
  }

  @include breakpoint(desktop-below) {
    display: inline;
  }

  @include breakpoint(desktop-above) {
    flex-basis: 20%;
  }

  img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    // display: inline-block;
  }
}
