$default-font: 'Roboto';

// Base Colors
$color-white: #fff;
$color-black: #000;
$color-charcoal: #333;
$color-purple: #669;
$color-green: #00853d;
$color-wild-willow: #9cc766;
$color-blue: #dae9ec;
$color-grey: #666;
