# _front

.idea
node_modules
_front/node_modules
_front/dist
_front/public
_front/compiled


# _server
_server/node_modules

# _db

# _consumer
.idea
node_modules
_consumer/node_modules
_consumer/dist
_consumer/public
_consumer/compiled
