.order-status-tile {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.5);
    background-color: beige;
    border-radius: 50%;
    flex: 0 1 20%;
    word-break: break-word;
    padding: 10px;
    margin: 10px 20px;
    text-align: center;
    color: white;
    &.order-placed {
        background: orange;
    }
    &.order-accepted {
        background: violet;
    }
    &.preparing {
        background: blue;
    }
    &.completed {
        background: green;
    }
    &.delivered {
        background: gray;
    }
    @include breakpoint(desktop-below) {
        border-radius: 0;
    }

    @keyframes borderRadiusAnim {
        0% {
            border-radius: 0%;
        }
        50% {
            border-radius: 50%;
        }
        100% {
            border-radius: 0%;
        }
    }
    animation-name: borderRadiusAnim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
