$productRowHeight_M: auto;
$productRowHeight_D: 150px;

.cart-product-container {
    .cart-product-header {
        display: none;
        @include breakpoint(desktop-above) {
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: bold;
        }
    }
    .cart-product-row {
        height: $productRowHeight_M;
        border-bottom: 1px solid;
        padding: 20px 0;
        overflow: hidden;
        @include breakpoint(desktop-above) {
            height: $productRowHeight_D;
            box-sizing: content-box;
            padding: 40px 0;
        }
        .cart-data-col {
            @include breakpoint(desktop-below) {
                padding-bottom: 5px;
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
        .cart-col-rate,
        .cart-col-quantity,
        .cart-col-total {
            display: flex;
            align-items: flex-end;
        }

        .img-section {
            height: $productRowHeight_M;
            overflow: hidden;
            background: transparent;
            @include breakpoint(desktop-above) {
                height: $productRowHeight_D;
            }
        }
    }
}
